/anonymousObjects/nbproject/private/
/AnonymousObjects/nbproject/private/
/AnonymousObjects/build/
/JavaInnerClasses/nbproject/private/
/JavaInnerClasses/build/
/AnonymousInnerClass/nbproject/private/
/AnonymousInnerClass/dist/
/AnonymousInnerClass/build/
/SwingGUI/JavaGUI/build/
/SwingGUI/JavaLabels/build/
/SwingGUI/JavaAudio/build/
/BasicJava/build/
/SwingGUI/JavaButtons/nbproject/private/
/SwingGUI/JavaButtons/build/
/SwingGUI/JavaBorderLayout/nbproject/private/
/SwingGUI/JavaBorderLayout/build/
/SwingGUI/JavaFlowLayout/nbproject/private/
/SwingGUI/JavaFlowLayout/build/
/SwingGUI/JavaGridLayout/nbproject/private/
/SwingGUI/JavaGridLayout/build/
/SwingGUI/JavaLayeredPane/nbproject/private/
/SwingGUI/JavaLayeredPane/build/
/SwingGUI/OpenNewGuiWindow/nbproject/private/
/SwingGUI/OpenNewGuiWindow/build/
/SwingGUI/JOptionPane/nbproject/private/
/SwingGUI/JOptionPane/build/